@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
* {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #252525; }

nav {
  padding: 8px; }
  nav ul {
    float: right;
    margin-right: 25px; }
    nav ul li {
      display: inline-block;
      float: left; }
      nav ul li:not(:first-child) {
        margin-left: 48px; }
      nav ul li:last-child {
        margin-right: 24px; }
      nav ul li a {
        display: inline-block;
        outline: none;
        color: #252525;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1.2px;
        font-weight: 600; }

a {
  text-decoration: none; }

.logo {
  float: left;
  padding: 8px;
  margin-left: 20px;
  margin-top: 8px; }
  .logo a {
    color: #252525;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px; }

.nav-wrapper .about {
  padding: 10px 30px;
  position: fixed;
  left: -70px;
  top: 180px;
  transform: rotate(-90deg); }

.tag {
  padding: 10px 30px;
  position: fixed;
  top: 250px;
  left: 152px;
  line-height: 1.6; }

.resume {
  position: fixed;
  top: 640px;
  left: 100px;
  padding: 10px 30px; }

.projects {
  position: fixed;
  right: 35px; }

.media ul {
  list-style: none;
  position: fixed;
  right: 26px;
  top: 77%;
  padding: 10px 10px; }
  .media ul li {
    font-size: 18px;
    margin: 24px 0; }

.mypic {
  position: fixed;
  z-index: 0;
  top: 24.6%;
  left: 38%;
  opacity: 0;
  animation: appear-text 1s linear forwards;
  animation-delay: 1.5s; }
  .mypic img {
    width: 50%; }
  .mypic:after {
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #000;
    position: absolute;
    animation: rev-img 1.5s cubic-bezier(0.19, 1, 0.2, 1) forwards;
    animation-delay: 1s; }

@keyframes rev-img {
  0% {
    left: 0%;
    width: 0%; }
  50% {
    left: 0;
    width: 50%; }
  100% {
    left: 50%;
    width: 0%; } }
.title {
  font-size: 62px;
  position: absolute;
  top: 246px;
  right: 470px; }
  .title span {
    opacity: 0;
    background-color: #ffffff91;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 2s; }
    .title span a {
      color: #252525;
      letter-spacing: 0px; }
    .title span:hover {
      background-color: #ffffffb5; }
  .title:after {
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #b68c70;
    position: absolute;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.2, 1) forwards;
    animation-delay: 1.4s; }

.line {
  position: fixed;
  left: 360px;
  top: 200px;
  background: #000;
  width: 180px;
  height: 1px; }

.tag-line {
  position: fixed;
  top: 595px;
  left: 851px;
  padding: 10px 30px;
  color: #6f6f6f;
  font-size: 13px; }
  .tag-line span {
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 2s; }
  .tag-line:after {
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #b68c70;
    position: absolute;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.2, 1) forwards;
    animation-delay: 1.8s; }

@keyframes rev-block {
  0% {
    left: 0%;
    width: 0%; }
  50% {
    left: 0;
    width: 100%; }
  100% {
    left: 100%;
    width: 0%; } }
@keyframes appear-text {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media screen and (max-width: 864px) {
  .logo {
    padding: 0; }

  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease; }
    .nav-wrapper ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%; }
      .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px; }
        .nav-wrapper ul li:nth-child(1) a {
          transition-delay: 0.2s; }
        .nav-wrapper ul li:nth-child(2) a {
          transition-delay: 0.3s; }
        .nav-wrapper ul li:nth-child(3) a {
          transition-delay: 0.4s; }
        .nav-wrapper ul li:not(:first-child) {
          margin-left: 0; }
        .nav-wrapper ul li a {
          padding: 10px 24px;
          opacity: 0;
          color: #252525;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1.2px;
          transform: translateX(-20px);
          transition: all 0.2s ease; }
        .nav-wrapper ul li.about {
          padding: 0;
          position: initial;
          left: 0;
          top: 0;
          transform: rotate(0deg) !important; }
        .nav-wrapper ul li.resume {
          padding: 0;
          position: initial;
          left: 0;
          top: 0;
          transform: rotate(0deg) !important; }

  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%; }
    .nav-btn i {
      display: block;
      width: 20px;
      height: 2px;
      background: #000;
      border-radius: 2px;
      margin-left: 14px; }
      .nav-btn i:nth-child(1) {
        margin-top: 16px; }
      .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1; }
      .nav-btn i:nth-child(3) {
        margin-top: 4px; } }
#nav:checked + .nav-btn {
  transform: rotate(45deg); }
  #nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease; }
    #nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg); }
    #nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0; }
    #nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg); }

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1; }
  #nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0); }

.hidden {
  display: none; }

.wrapper {
  width: 90%;
  margin: 0 auto; }

header {
  margin: 10% 0 4% 14%; }
  header h1 {
    font-size: 48px; }
    header h1 p {
      font-size: 16px;
      font-weight: 300;
      width: 60%;
      margin-top: 10px; }

.vr-projects {
  text-align: center;
  width: 100%; }
  .vr-projects img {
    margin: 1%;
    width: 72%; }

.project-des {
  display: block;
  padding-bottom: 2%; }
  .project-des:not(:first-child) {
    padding-top: 3%; }

.info-wrapper {
  width: 72%;
  margin: 0 auto; }

.details .project-title {
  float: left;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600; }
  .details .project-title p {
    margin-top: 9%;
    letter-spacing: 0.1rem; }
.details .project-info {
  float: right;
  text-align: left; }
  .details .project-info p {
    font-size: 13px;
    line-height: 1.7;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    color: #4f4f4f; }

.project-description {
  display: inline-block;
  text-align: left; }
  .project-description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.1px;
    word-spacing: 1.2px;
    margin-top: 2%; }
    .project-description p a {
      color: #b68c70;
      line-height: 2; }

.project-tags {
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3%; }
  .project-tags p {
    font-size: 13px;
    color: #8b8b8b;
    line-height: 1.7; }
    .project-tags p span {
      text-transform: uppercase; }

footer p {
  text-align: center;
  margin: 60px auto; }

@media only screen and (max-width: 991px) {
  header {
    text-align: left;
    margin: 5% 0 5% 1%; }
    header h1 {
      font-size: 36px; }
    header p {
      font-size: 12px;
      width: 90%; }

  .vr-projects img {
    margin: 2%;
    width: 90%; } }

/*# sourceMappingURL=style.css.map */
