footer {
        font-size: 16px;
        font-weight: 600;
        margin: 2% 14% 2% 11%;
        padding-bottom: 5%;
    .abt-re {
        float: left;
        width: 50%;
        li {
            display: inline-block;
            float: left;
            padding-right: 10%;
        }
    }

     .oth {
            float: right;
            width: 50%;
        li {
            display: inline-block;
            float: right;
            padding-left: 10%;
        }
    }


}
