.work-projects {

    &.web-projects{
        width: 100%;
        text-align: none;
        padding: 0 12%;
        .project-des {
            width: 47%;
            display: inline-block;
            padding-right: 3%;
            margin-top: 3%;
            .project-pic{
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img {
                    flex-shrink: 0;
                    min-width: 100%;
                    min-height: 100%;
                }
            }
            &:not(:first-child){
                padding-top:0;
            }

            &:nth-child(even){
                padding-right:0;
                padding-left: 3%;
            }
            &:nth-child(7){
                left: 0;
                display: block;
                margin-left: 3%;
            }
        }

        .info-wrapper {
            width: 100%;
            margin: 2% 0 0 0;

        }
    }
}
