<nav class="nav-home">
  <span id="brand">
    <a href="/" data-page="home"><img src="/projects/selfportrait.png" class="about-image" alt="Barsha"></a>
  </span>
  <ul id="menu" class="main-menu">
    <!-- hidden: remove .hide-section to show -->
    <li class="hide-section"><a href="/#projects" data-page="product-thinking">Product thinking</a></li>
    <li><a href="/#projects" data-page="projects">Projects</a></li>
    <li class="hide-section"><a href="/#projects" data-page="articles">Articles</a></li>
    <li class="hide-section"><a href="/#projects" data-page="figma-plugins">Figma plugins</a></li>
    <li class="main-menu-item"><a href="/pages/about/about.html" data-page="about">About me</a></li>
  </ul>
  <div id="toggle">
    <div class="span">Menu</div>
  </div>
</nav>
<div id="resize">
  <div class="close-btn">Close</div>
  <ul id="menu">
    <li><a href="/#projects" data-page="projects">Projects</a></li>
    <li><a href="/pages/about/about.html" data-page="about">About me</a></li>
  </ul>
</div>
