/*--------------- work page --------------- */


.hero-content {
      margin-left: 0%;
}

.hero-content p {
    font-weight: 300;
    line-height: 26px;
    color: #cecece;
    font-size: 14px;
    word-spacing: -0.5px;
    letter-spacing: 0.5px;
}

.hero-content h6 {
    color: #bfbfbf;
    text-align: left;
    line-height: 1.5;
    font-weight: 300;
    font-size: 15px;
    word-spacing: -2px;
    letter-spacing: 0;
}

.hero-para {
  text-align: center;
  margin: 2rem 0;
}

.des-bold {
  font-weight: 400;
  color: #fff;
}

.project-des-blocks {
  margin: 5% 0 8% 0;
  .des-blocks-title {
    margin-bottom: 15px;
  }
}

@media(max-width: 768px) {
      .hero-content {
            padding-top: 50px;
            width: 96%;
            margin: 0 auto;
      }
}