@charset "UTF-8";
/* CSS Document: Candid base css */


/* ==========================================================================
For any brand identity questions, refer to: 

https://how.candid.works/ (only available internally)
========================================================================== */



/* ==========================================================================
Color Variables

Core:
$black: #000000; //use for backgrounds only
$white: #ffffff;
$black-text: #1a1a1a; //use for text only
$gold: #febe10;
$orange: #faa21b; //use on lines only

Data viz:
TO DO


========================================================================== */


/* ==========================================================================
Table of Contents:

1. EXTERNAL RESOURCES
2. RESET STYLES
3. BASE STYLES
4. STRUCTURE
5. FORMS
6. BUTTONS
7. RESPONSIVE
========================================================================== */


/* ==========================================================================
1. EXTERNAL RESOURCES                                            
========================================================================== */

@import "https://cdn.candid.org/fonts/algebra/algebra.css";
@import "https://cdn.candid.org/fonts/akkurat/Akkurat-Bold/css/stylesheet.css";
@import "https://cdn.candid.org/fonts/akkurat/Akkurat-BoldItalic/css/stylesheet.css";
@import "https://cdn.candid.org/fonts/akkurat/Akkurat-Italic/css/stylesheet.css";
@import "https://cdn.candid.org/fonts/akkurat/Akkurat-Regular/css/stylesheet.css";

@import "https://fonts.googleapis.com/icon?family=Material+Icons+Sharp";
@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";

/*
Font variables

$regular: "Algebra Web","Georgia", serif;
$secondary: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
$icon-sharp: "Material Icons Sharp";
$icon-outlined: "Material Icons Outlined";


*/


/* ==========================================================================
2. RESET STYLES                                             
========================================================================== */

html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table, th, td {
    border: solid 1px black;
    padding: 5px;
    vertical-align: top;
}

ul {
    list-style: none;
}

img,
video {
    max-width: 100%;
    border-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}


/* ==========================================================================
3. BASE STYLES                                             
========================================================================== */

html {
	font-size: 100%;
	text-align: left;
}

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5;
} 

body {
	font-size: 1.125rem;
	padding: 0;
	margin: 0;
	font-family: "Algebra Web","Georgia",serif;
	color: #1e1e1e;
}
img {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.gray-bg {
	background-color: #eeebe9;
}
.gold-bg {
	background-color: #febe10;
}
.black-bg {
	background-color: #000000;
}

/* =============== Typography =============== */


/* Basic text */
p {
	margin-top: 0;
	margin-bottom: 1.5em;
	line-height: 1.5em;
} 

p.s-copy {
    font-family: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
    font-size: 1rem;
    line-height: 1.333;
}

small {
	font-family: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
	font-size: 0.875rem;
	line-height: 1.333;
	margin-bottom: 0;
}
strong {
	font-weight: 600;
}
em {
	font-style: italic;
}
cite {
  font-style: normal;
}
code {
	font-family: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
	font-size: 1rem;
	color: #1e1e1e;
	background-color: #efecea;
}
pre {
	font-family: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
	font-size: 1rem;
	color: #1e1e1e;
	background-color: #efecea;
	white-space: unset;
	padding: 1em 2em;
}

sup, sub {
	position: relative;
	font-size: 0.75em;
	line-height: 0;
	vertical-align: baseline;
}

sup { 
	top: -0.5em; 
}
sub { 
	bottom: -0.25em; 
}
address {
	font-style: normal;
}
button {
	cursor: pointer;
}
blockquote {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
caption,figcaption {
	font-size: 1rem;
	font-family: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
}
figcaption {
	font-style: normal;
	padding: .5em 0;
}
figure {
	max-width: 100%;
}
figure a:hover{
	text-decoration: none;
	border: none;
}
img {
	width: auto;
	max-width: 100%;
	height: auto;
}
a {
	cursor: pointer;
	border-bottom: 1px solid #1e1e1e;
	color: #1e1e1e;
	transition: 0.5s ease;
}
a, a:hover {
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid #febe10;
	background-color: #febe10;
}
a:active {
	border-bottom: 1px dotted #1e1e1e;
}
a:visited {
	border-bottom: 1px solid #1e1e1e;
}

/* footer and header linked images */
footer a,
footer a:hover,
footer a:visited,
nav a,
nav a:hover,
nav a:visited {
  border-bottom: 0;
}

.date {
	font-family: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
	font-size: 1rem;
	line-height: 1.333;
	margin-bottom: 0;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	font-family: "Algebra Web","Georgia", serif;
	font-weight: 400;
	line-height: 1.333;
	margin-top: 0;
}
h5, h6 {
	line-height: 1.5em;
}
h1 a, h2 a, h3 a, h4 a {
	display: inline;
	font-weight: 600;  
}
h5 a, h6 a {
	border-bottom: 1px dotted transparent;
	display: inline;
	font-weight: 400;
}
h1 a:hover, h2 a:hover, h3 a:hover, 
h4 a:hover, h5 a:hover, h6 a:hover {
	background-color: #febe10;
	border-bottom: 1px solid #febe10;
}
h1 a:active, h2 a:active, h3 a:active, 
h4 a:active, h5 a:active, h6 a:active {
	border-bottom: 1px dotted #1e1e1e;
}
h1 a:visited, h2 a:visited, h3 a:visited, 
h4 a:visited, h5 a:visited, h6 a:visited {
	border-bottom: 1px dotted transparent
}

h1 {
	font-size: 3.75rem;
	margin: 0 0 .5em;
}

h2 {
	font-size: 3rem;
	margin: 0 0 .75em;
}

h3 {
	font-size: 2.25rem;
	margin: 0 0 .5em;
}

h4 {
	font-size: 1.5rem;
	margin: 0 0 .35em;
}

h5 {
	font-size: 1.125rem;
	font-weight: 600;
	margin: 0 0 .25em;
}
h6 {
	font-size: 1rem;
	font-weight: 600;
}

/* Lists */
ul, ol {}
ul ul, ul ol, ol ol, ol ul {}
li {}

/* default list */
ul {
    padding: 0;
    margin: 0 0 1.5em;
}
ul > li {
	padding-left: 1.5em;
	margin-bottom: 0.75em;
	list-style-position: inside;
	position: relative;
	
	font-family: "Algebra Web","Georgia", serif;
	font-size: 1.125rem;
	line-height: 1.5;
}

ul > li::before {
	width: 1rem;
	height: 1px;
	position: absolute;
	left: 0;
	top: .7em;
	background: #faa21b;
	content: "";
}

ul > li > ul {
  padding: 0;
  margin: 0 0 1.5em;
}
ul > li > ul > li {
  padding-left: 1.5em;
	margin-bottom: 0.75em;
	list-style-position: inside;
	position: relative;
	
	font-family: "Algebra Web","Georgia", serif;
	font-size: 1.125rem;
	line-height: 1.5;
  
  list-style-type: disc;
}
ul > li > ul > li::before {
	width: 0;
	height: 0;
}

ul > li > ul > li > ul {
  	padding: 0;
  	margin: 0 0 1.5em;
}
ul > li > ul > li > ul > li {
  	padding-left: 1.5em;
	margin-bottom: 0.75em;
	list-style-position: inside;
	position: relative;
	
	font-family: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
	font-size: 1rem;
	line-height: 1.5;
  
  list-style-type: circle;
}
/* footer and nav list */
footer ul > li,
footer ul > li > ul > li {
  list-style-type: none;
}
footer ul > li::before,
footer ul > li > ul > li::before {
  content: none;
}
nav ul > li,
nav ul > li > ul > li {
  list-style-type: none;
}
nav ul > li::before,
nav ul > li > ul > li::before {
  content: none;
}
/* secondary list */
header ul > li::before, nav ul > li::before, footer ul > li::before {
	display: none;
}

ul.disc-list {
	margin: 0 0 0.75em 0;
	padding-left: 0;
}

ul.disc-list li {
	list-style-type: disc;
	padding-left: 1.4em;
	margin-bottom: 0.75em;
	list-style-position: inside;
	text-indent: -1.4em;
	font-family: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
	font-size: 1rem;
	line-height: 1.333;
}
ul.disc-list li::before {
	content: none;
}

/* nav and footer list */
ul.navigation {
	
}
ul.navigation li {
	list-style-type: none;

}
ul.navigation li::before {
	content: none;
}
/* ==========================================================================
4. STRUCTURE                                             
========================================================================== */

.container {
	border-left: 1px solid #faa21b;
	padding: 0 2.5em;
	margin-left: 1.25em;
}

/* ==========================================================================
5. FORMS                                        
========================================================================== */

form fieldset {
	*zoom: 1;
	padding: 0;
	border: none;
	clear: both;
}

form fieldset:after {
	display: table;
	content: "";
	clear: both;
}

form legend {
	background-color: transparent;
	width: auto;
	padding: 2em 0px;
	margin: 0;
	border-bottom: none;
}

form legend.expanded {
	width: 100%;
	padding: 2em 0px 0.25em;
	margin: 0 0 0.5em;
	border-bottom: solid 1px #000000;
	font-size: 1.5em;
	display: flex;
	justify-content: space-between;
}

legend.expanded::after {
    font-family: "Material Icons";
    content: "remove";
}

form label {
	padding: .25em 0;
	margin-top: .5em;
	margin-bottom: 0;
	vertical-align: middle;
	font-family: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
	font-size: 1rem;
}

form input,
form select,
form textarea {
	border-radius: 0;
	display: block;
	vertical-align: top;
	font-family: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
	font-size: 1rem;
	margin: 0;
	padding: .75rem 1rem .5rem;
	width: 100%;
	color: #1e1e1e;
	background-color: #f0ece9;
	border: none;
	border-bottom: 1px solid #000;
}

form select {
	padding: .75rem 1.9rem .5rem 1rem;
}
form select.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-border-radius: 0px;
	background-image: linear-gradient(45deg, transparent 50%, #1e1e1e 50%), 
	linear-gradient(135deg, #1e1e1e 50%, transparent 50%), 
	linear-gradient(to right, transparent, transparent);
	background-position: calc(100% - 20px) calc(1em + 2px), 
	calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat;
}
input.input {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
input.error {
	background-color: #f0ece9;
	border: solid 1px #9F2018;
}
.error-msg {
	margin-top: 0.35em;
}
.error-msg-required {
	font-family: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
	font-size: 0.875rem;
	line-height: 1.33;
	color: #9F2018;
	display: block;
}

form input:focus,
form select:focus,
form textarea:focus {
	outline: none;
	border: 2px dotted #000000;
	background-color:#ffffff;
}

form textarea {
	min-height:12.5em;
	}
form input {
	border-radius: 0!important;
	-webkit-appearance: none!important;
}

form input[type=checkbox],
form input[type=radio],
form input[type=range] {
	box-shadow: none;
	min-height: .75em;
}

form input[type=color] {
	height: 2.25em;
	width: 2.25em;
	padding: 0.25em;
}

form input[type=checkbox],
form input[type=radio]{
	width: 1.25em;
	height: 1.25em;
	vertical-align: middle;
	padding: 0;
	display: inline-block;
	background-color: #ffffff;
}

form input[type=checkbox],
form input[type=color],
form input[type=radio] {
	border: solid 1px #000000;
	margin: 0 1em 0 0;
}

/* custom checkbox */
input[type=checkbox],
input[type=radio] {
	display:none !important; 
}

input[type=checkbox] + label,
input[type=radio] + label {
	display: flex;
	line-height: normal;
	cursor: pointer;
}

input[type=checkbox] + label:before,
input[type=radio] + label:before {
 	font-family: "Material Icons";
	display: inline-block;
	font-size: 1.25em;
}

input[type=checkbox] + label:before { 
	content: "check_box_outline_blank"; /* unchecked icon */
}

input[type=radio] + label:before { 
	content: "radio_button_unchecked"; /* unchecked icon */
} 

input[type=checkbox]:checked + label:before { 
	content: "check_box";
	color: #000000; /* checked icon */
} 

input[type=radio]:checked + label:before { 
	content: "radio_button_checked";
	color: #000000; /* checked icon */
}

input[type=checkbox] + label:before,
input[type=radio] + label:before { 
	letter-spacing: 10px; /* space between checkbox and label */
} 

input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before { 
	letter-spacing: 10px; /* allow space for check mark */
} 

.checkbox li, .radio li {
	padding: 0;
}

.checkbox li:before, .radio li:before {
	display:  none;
}

/* IE Compatibility for material icons */
@media all and (-ms-high-contrast:none), (-ms-high-contrast: active){
	input[type=checkbox], input[type=radio] {
		display: block !important;
	}

	.checkbox li, .radio li {
		display: flex;
	}

	.checkbox label, .radio label {
		margin: 0;
	}

    input[type=checkbox] + label:before,
	input[type=radio] + label:before { /* IE10 */
	 	display: none;
	}

	*::-ms-backdrop, 
	input[type=checkbox] + label:before,
	input[type=radio] + label:before { /* IE11 */
		display: none;
	}

}

/* IE6, IE7 and IE8 checkbox and radio buttons  */
@media \0screen\,screen\9 {
	input[type=checkbox], input[type=radio] {
		display: block !important;
	}

	.checkbox li, .radio li {
		display: flex;
	}

	.checkbox label, .radio label {
		margin: 0;
	}

	*::-ms-backdrop, 
	input[type=checkbox] + label:before,
	input[type=radio] + label:before { /* IE11 */
		display: none;
	}
}



/* custom slider */
form input[type=range] {
	-webkit-appearance: none;
 	width: 100%; /* Specific width is required for Firefox. */
 	background: #febe10; /* Otherwise white in Chrome */
	padding: 0;
	border: 0;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1.5em;
  width: 0.75em;
  border-radius: 0;
  background: #000000;
  cursor: pointer;
  margin-top: -6.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: none; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: none;
  border: none;
  height: 1.5em;
  width: 0.75em;
  border-radius: 0;
  background: #000000;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: none;
  border: none;
  height: 1.5em;
  width: 0.75em;
  border-radius: 0;
  background: #000000;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.75em;
  cursor: pointer;
  box-shadow: none;
  background: #febe10;
  border-radius: 0;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #febe10;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.75em;
  cursor: pointer;
  box-shadow: none;
  background: #febe10;
  border-radius: 0;
  border: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 0.75em;
  cursor: pointer;
  background: #febe10;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #febe10;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
input[type=range]:focus::-ms-fill-lower {
  background: #febe10;
}
input[type=range]::-ms-fill-upper {
  background: #febe10;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
input[type=range]:focus::-ms-fill-upper {
  background: #febe10;
}

form small {
	margin-top: 0.5em;
	display: block;
}

form button,
form input[type=button],
form input[type=submit]{
	padding: .75em 1.5em;
	margin: 0;
	border: none;
	font-family: "Algebra Web","Georgia",serif;
	line-height: 1;
	width: 100%;
	width: auto;
	background-color: #febe10;
	cursor: pointer;
	transition: 0.5s ease
}
form button:hover,
form input[type=button]:hover,
form input[type=submit]:hover{
	text-decoration: none;
	background-color: #faa21b;
	border: none
}

form::-webkit-input-placeholder{
	color: #8f807d;
}

form:-moz-placeholder,
form::-moz-placeholder{
	color: #8f807d;
}

form:-ms-input-placeholder{
	color: #8f807d;
}


/* ==========================================================================
6. BUTTONS                                        
========================================================================== */

button, .button, .btn {
	font-size: 1.125rem;
	font-family: "Algebra Web","Georgia",serif;
	padding: .75rem 1.5rem;
	background: none;
	background-color: #febe10;
	color: #1a1a1a;
	border: none;
	display: inline-block;
	border-radius: 0;
	margin:.5em 0;
	transition: 0.5s ease;
}
button:hover,
.button:hover,
.btn:hover {
	text-decoration: none;
	background-color: #faa21b;
	color: #1a1a1a;
	border: none;
}

.btn-black, .button-black {
	background-color: #000000;
	color: #ffffff;
}

.toggle-button {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.25em;
}
.toggle-button a:hover {
	text-decoration: none;
}
.toggle-button.active a,
.toggle-button.slick-current span,
.toggle-button a:hover {
	border-width: 3px 3px 1px;
	border-bottom: 3px solid;
	border-color: #000000;
}

.attribute-url+.attribute-call_to_action {
	margin-top: .5em;
}


/* ==========================================================================
8. MISCELLANEOUS                                        
========================================================================== */

hr.block-divider {
	border-top: .5px solid #ccc2c0;
 	border-bottom: .5px solid #ccc2c0;
 	margin-top: 0;
 	margin-bottom: 40px;
}


/* ==========================================================================
7. RESPONSIVE                                        
========================================================================== */

@media screen and (max-width: 1200px){
	
	h1 {
		font-size: 3.75rem;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
	font-size: 2.25rem;
	}

	
}

@media screen and (max-width: 1024px){
	
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  blockquote {
    font-size: 1.5rem;
  }
	
	form button,
	form input[type=button],
	form input[type=submit] {
		width: auto;
	}
	
}

@media screen and (max-width: 768px){
	
	h1 {
		font-size: 3rem;
	}
	h2 {
	font-size: 2rem;
	}
	h3 {
	font-size: 1.5rem;
	}
	
	
	form button,
	form input[type=button],
	form input[type=submit] {
		width: auto
	}

	
}

@media screen and (max-width: 600px){
	
	h1 {
		font-size: 2.625rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.52rem;
	}
	
	
	form label {
		display: block;
		width: 100%;
	}
	form input[type=checkbox],
	form input[type=color],
	form input[type=radio] {
		display: inline-block;
	}
	form button,
	form input[type=button],
	form input[type=submit] {
		width: auto
	}
	
}



/* ==========================================================================
 MATERIAL ICON USAGE EXAMPLE                                        
========================================================================== 

.info::after {
	font-family: "Material Icons";
	content: "info_outline";
	vertical-align: bottom;
}

*/







